{#
    Description: Flash Templates using a span rather than a div
    Author: Andrew Tarry
#}
{% for type, messages in app.session.getFlashBag().all() %}
    {% for message in messages %}
        <span class="{{ ajt_flash_css(type) }}">{{ message }}</span>
    {% endfor %}
{% endfor %}
